/*--------------------------------Min-Width DESCTOP-------------------------------------*/
@media screen and (min-width: 1200px) {
.container {
    max-width: 1199px;
}
.mobile-menu {
    display: none;
}
.mobile-open-burger {
    display: none;
}
.section {
    padding: var(--section-pading) 0;
}
.about-item-title {
    margin: var(--margine-about-feature-footer-portfolio-title) 0;
}
.about-item::before {
    display: block;
}
.header-list-address {
    display: flex;
}
.feature-list {
        flex-wrap: nowrap;
        
}
}
/*--------------------------------Min-Width DESCTOP-------------------------------------*/

/*--------------------------------Max-Width MOBILE-------------------------------------*/
/*-----------------Header--------------------*/
@media screen and (max-width: 767px) {
    .section {
        padding: 96px 0;
    }
    .header-list {
        display: none;
    }
    .header-list-address {
        display: none;
    }
    .header {
        padding: 24px 0;
    }
    .page-header-container {
        justify-content: space-between;
    }
/*-----------------Header--------------------*/

/*-----------------Hero--------------------*/
.hero {
    margin: 0 auto;
    padding: 112px 0;
    background-size: cover;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    max-width: 320px;
    margin: 0 auto 72px;
}
.hero-btn {
    /* background: transparent; */
    /* position: absolute; 
    left: 130px;
    top: 264px; */
}
/*-----------------Hero--------------------*/

/*-----------------About--------------------*/
.about-list {
    display: block;
}
.about-item {
    margin-bottom: 72px;
}
.about-item::before {
    display: none;
}
.about-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-about-feature-footer-portfolio-title);
    text-align: center;
}
.about-item-list {
    font-weight: 500;
    line-height: 24px;
}
/*-----------------About--------------------*/

/*-----------------Srevices--------------------*/
.services {
    display: none;
}
.services-feature-title {
    display: none;
}
.services-item {
    display: none;
}
.services-portfolio-item-img {
    display: none;
}
}
/*-----------------Srevices--------------------*/

/*-----------------Feature--------------------*/
.feature {

}
.feature-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-services-feature-title-portfolio-btn-list);
}

.feature-title-2 {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-about-feature-footer-portfolio-title);    
}
/*-----------------Feature--------------------*/

/*-----------------Section Customers-------------------*/
.customers {
    padding: 96px 0;
}
/*-----------------Section Customers-------------------*/
/*--------------------------------Max-Width MOBILE-------------------------------------*/