/*--------------------------------Min-Width DESCTOP-------------------------------------*/
@media screen and (min-width: 1200px) {
.container {
    max-width: 1158px;
}
.mobile-menu {
    display: none;
}
.mobile-open-burger {
    display: none;
}
.section {
    padding: var(--section-pading) 0;
}
.about-item-title {
    margin: var(--margine-about-feature-footer-portfolio-title) 0;
}
.about-item-list {
    max-width: 264px;
}
.about-item::before {
    display: block;
}
.header-list-address {
    display: flex;
}
.feature-list {
    flex-wrap: nowrap;
}
 /*-----------------Header--------------------*/
 .page-header-container {
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    gap: 76px;
}
.header-address {
    padding: 0;
}
.header-list-address {
    display: flex;  
    gap: 40px;
}
/*-----------------Header--------------------*/

/*-----------------Hero--------------------*/
.hero {
    margin: 0 auto;
    max-width: 1440px;
    padding: 188px 0;
}
.hero-title {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    width: 496px;
    margin: 0 auto 48px;
}
/*-----------------Hero--------------------*/

/*-----------------About--------------------*/
.about-list {
    display: flex;
    gap: var(--card-set-gap);
}
.about-item {
    
}
.about-item::before {
    content: '';
    display: block;
    width: 264px;
    height: 112px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--footer-item-color);
    border-radius: var(--btn-radius);
}
.about-item:nth-child(1)::before {
    background-image: url('../images/antenna.svg');
}
.about-item:nth-child(2)::before {
    background-image: url('../images/vector.svg');
}
.about-item:nth-child(3)::before {
    background-image: url('../images/diagram.svg');
}
.about-item:nth-child(4)::before {
    background-image: url('../images/astronaut.svg');
}
.about-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.about-item-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/*-----------------About--------------------*/

/*-----------------Srevices--------------------*/

.services {
    display: block;
    padding-bottom: var(--section-pading);
}
.services-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-services-feature-title-portfolio-btn-list);
}
.services-item {
    display: flex;
    gap: var(--card-set-gap);
    
}
.services-portfolio-item-img {
    flex-basis: calc((100% - 48px) / 3);;
}   
/*-----------------Srevices--------------------*/

/*-----------------Feature--------------------*/
.feature {

}
.feature-list {
    display: flex;
    gap: var(--card-set-gap);
}
.feature-card-content-item {
    width: 264px;
}
/*-----------------Feature--------------------*/

/*-----------------Section Customers-------------------*/
.customers {
padding: 120px 0;
} 
/*-----------------Section Customers-------------------*/

/*-----------------Footer--------------------*/
.footer {
    padding: 100px 0;
}
.page-footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-media-sbscribe {
    display: flex;
    gap: 80px;
}
.footer-subscribe-inline {
    display: flex;
    gap: 24px;
}
.footer-subscribe-form-input {
    width: 264px;
}
.footer-subscribe-btn {
    
}
}
/*-----------------Footer--------------------*/
/*--------------------------------Min-Width DESCTOP-------------------------------------*/

/*-----------------Min-Height_MOBILE-MENU--------------------*/
@media screen and (min-height: 480px) {
    .mobile-menu-list {
        margin-bottom: 60px;
        gap: 20px;
    }
    .mobile-menu-contact {
        gap: 20px;
    }
    .mobile-menu-media {
        margin-top: 20px;
    }
}
@media screen and (min-height: 640px) {
    .mobile-menu-list {
        margin-bottom: 140px;
        gap: 40px;
    }
    .mobile-menu-contact {
        gap: 40px;
    }
    .mobile-menu-media {
        margin-top: 40px;
    }
}
@media screen and (min-height: 720px) {
    .mobile-menu-list {
        margin-bottom: 220px;
        gap: 40px
    }
    .mobile-menu-contact {
        gap: 40px;
    }
    .mobile-menu-media {
        margin-top: 40px;
    }
}
@media screen and (min-height: 796px) {
    .mobile-menu-list {
        margin-bottom: 284px;
        gap: 40px;
    }
    .mobile-menu-contact {
        gap: 40px;
    }
    .mobile-menu-media {
        margin-top: 40px;
    }
}
/*-----------------Min-Height_MOBILE-MENU--------------------*/

/*--------------------------------Max-Width MOBILE-------------------------------------*/
@media screen and (max-width: 767px) {
/*-----------------Header--------------------*/
    .section {
        padding: 96px 0;
    }
    .header {
        padding: 24px 0;
    }
    .header-list {
        display: none;
    }
    .header-list-address {
        display: none;
    }
    .page-header-container {
        justify-content: space-between;
    }
/*-----------------Header--------------------*/

/*-----------------Hero--------------------*/
.hero {
    margin: 0 auto;
    padding: 112px 0;
    background-size: cover;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    width: 320px;
    margin: 0 auto 72px;
}
.hero-btn {
    /* background: transparent; */
    /* position: absolute; 
    left: 130px;
    top: 264px; */
}

/*-----------------Modal Window--------------------*/
.modal {
    width: 300px
}
/*-----------------Modal Window--------------------*/

/*-----------------Hero--------------------*/
/*-----------------About--------------------*/
.about-list {
    
}
.about-item:not(:last-child) {
    
}
.about-item::before {
    display: none;
}
.about-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-about-feature-footer-portfolio-title);
    text-align: center;
}
.about-item-list {
    font-weight: 500;
    line-height: 24px;
}
/*-----------------About--------------------*/

/*-----------------Srevices--------------------*/
.services {
    display: none;
}
.services-feature-title {
    display: none;
}
.services-item {
    display: none;
}
.services-portfolio-item-img {
    display: none;
}
/*-----------------Srevices--------------------*/

/*-----------------Feature--------------------*/
.feature {

}
.feature-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-services-feature-title-portfolio-btn-list);
}

.feature-title-2 {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-about-feature-footer-portfolio-title);    
}
/*-----------------Feature--------------------*/

/*-----------------Section Customers-------------------*/
.customers {
    padding: 96px 0;
}
/*-----------------Section Customers-------------------*/

/*-----------------Footer--------------------*/
.footer {
    padding: 96px 0;
}
.page-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
    column-gap: 0;
    /* flex-wrap: nowrap; */
}
.footer-block {
    margin-bottom: 72px;
    margin-left: 0;
}
.logo-footer-center {
    display: flex;
    justify-content: center;
}
/* .footer-media-sbscribe {
    display: block;
} */
.footer-icon {
    margin-bottom: 72px;
    text-align: center;
}
.footer-list {
    display: flex;
    justify-content: center;
}
.footer-subscribe-form {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 0;
}
.footer-subscribe-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-subscribe-form-input {
    max-width: 398px;
    margin-bottom: 16px;
}
.footer-subscribe-btn {
    width: 165px;
}
}
/*-----------------Footer--------------------*/
/*--------------------------------Max-Width MOBILE-------------------------------------*/

/*--------------------------------Min-Width HERO-TITLE-------------------------------------*/
@media screen and (min-width: 320px) {
    .hero-title {
        width: 300px;
    }
    .form-subtitle {
    
    }
    .modal-form-check-desk {
        position: relative;
    }
    .checkbox-accpect-margin {
        width: 225px;
    }
    .privacy-policy {
        position: absolute;
        left: 47px;
        top: 16px;
    }
}
@media screen and (min-width: 480px) {
    .hero-title {
        width: 320px;
    }
    .modal {
        width: 392px
    }
    .modal-form-check-desk {
        
    }
    .checkbox-accpect-margin {
        width: 235px;
    }
    .privacy-policy {
        left: 260px;
        top: 0;
    }
}
@media screen and (min-width: 768px) {
    .hero-title {
        width: 496px;
    }
}
/*--------------------------------Min-Width HERO-TITLE-------------------------------------*/
