/*-----------------Mobile Menu--------------------*/

@media screen and (min-width: 320px) {
    .mobile-menu-contact-tel {
        font-weight: 600;
        font-size: 29px;
        line-height: 40px;
        color: #4D5AE5;
        background: none;
        box-shadow: none;
    }
    .mobile-menu-media {
        display: flex;
        gap: 40px;
        padding-top: 40px;
    }
}
@media screen and (min-width: 380px) {
    .mobile-menu-contact-tel {
        font-size: 36px;
    }
    .mobile-menu-media {
        gap: 56px;
    }
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0);
    /* opacity: 1;
    visibility: hidden;
    pointer-events: auto; */
  }

/*-----------------BTN|Container--------------------*/

.mobile-open-burger {
    background-color: transparent;
    border: none;
    padding: 0;
    /* line-height: 0; */
}
.mobile-open-burger-icon {
    /* display: block; */
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    top: 0;
    left: 0 ;
    z-index: 1000;
    background-color: var(--main-title-color);
    opacity: 0;
    /* visibility: hidden;
    pointer-events: none; */
    transition: opacity var(--transition-duration) var(--trsition-function),
                visibility var(--transition-duration) var(--trsition-function);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);  /*no-backdorp */
    overflow-y: scroll;
}
.mobile-menu.is-open {
    opacity: 1;
    /* visibility: hidden; */
    /* pointer-events: auto; */
}
.mobile-menu-container {
    position: relative;
    padding-left: 25px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.mobile-close-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 23px; /*24px*/
    right: 19px; /*15px*/
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    transition: background-color var(--transition-duration) var(--trsition-function);
}

/*-----------------BTN|Container--------------------*/

/*-----------------Navigation--------------------*/


.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 284px;
}
.mobile-menu-item {
    
}
.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    transition: color var(--transition-duration) var(--trsition-function);
    background: none;
    box-shadow: none;
}
.color-mobile {
    color: #404BBF;
}
/*-----------------Navigation--------------------*/

/*-----------------Contacts--------------------*/

.mobile-menu-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-contact-item {

}

.mobile-menu-contact-mail {
    font-weight: 500;
    font-size: 20px;    
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background: none;
    box-shadow: none;
}
/*-----------------Contacts--------------------*/

/*-----------------Social media--------------------*/


.mobile-menu-media-item {

}
.mobile-menu-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    fill: var(--footer-item-color);
    transition: background-color var(--transition-duration) var(--trsition-function);
}
.mobile-menu-media-link:hover {
    background-color: var(--hover-color);
}
.mobile-menu-media-svg {

}

/*-----------------Social media--------------------*/

@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
}

/*-----------------Header--------------------*/

@media screen and (max-width: 767px) {
    .section {
        padding: 96px 0;
    }
    .header-list {
        display: none;
    }
    .header-list-address {
        display: none;
    }
    .header {
        padding: 24px 0;
    }
    .page-header-container {
        justify-content: space-between;
    }
    
/*-----------------Header--------------------*/

/*-----------------Hero--------------------*/

.hero {
    margin: 0 auto;
    max-width: 428px;
    padding: 112px 0;
    height: 432px;
    background-size: cover;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    max-width: 320px;
    margin: 0 auto 72px;
}
.hero-btn {
    /* position: absolute; 
    left: 130px;
    top: 264px; */
}

/*-----------------Hero--------------------*/

/*-----------------About--------------------*/

.about-list {
    
}
.about-item {
    margin-bottom: 72px ;
}
.about-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-about-feature-footer-portfolio-title);
    text-align: center;
}
.about-item-list {
    font-weight: 500;
    line-height: 24px;
}

/*-----------------About--------------------*/

/*-----------------Srevices--------------------*/

.services {
    display: none;
}
.services-feature-title {
    display: none;
}
.services-item {
    display: none;
}
.services-portfolio-item-img {
    display: none;
}

/*-----------------Srevices--------------------*/

}

