/*-----------------Mobile Menu--------------------*/
.mobile-menu { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 796px;
    background-color: var(--main-title-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);   /*no-backdorp */
    overflow-y: scroll;
    opacity: 0;
  }
  .mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    /* visibility: hidden;
    pointer-events: auto; */
  }

/*-----------------BTN|Container--------------------*/
.mobile-open-burger {
    background-color: transparent;
    border: none;
    padding: 0;
    /* line-height: 0; */
}
.mobile-open-burger-icon {
    /* display: block; */
}
.mobile-menu-container {
    position: relative;
    padding-left: 25px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.mobile-close-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 23px; /*24px*/
    right: 19px; /*15px*/
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    transition: background-color var(--transition-duration) var(--trsition-function);
}
/*-----------------BTN|Container--------------------*/

/*-----------------Navigation--------------------*/
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 284px;
}
.mobile-menu-item {
    
}
.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    transition: color var(--transition-duration) var(--trsition-function);
    background: none;
    box-shadow: none;
}
.color-mobile {
    color: #404BBF;
}
/*-----------------Navigation--------------------*/

/*-----------------Contacts--------------------*/
.mobile-menu-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-contact-item {

}

.mobile-menu-contact-mail {
    font-weight: 500;
    font-size: 20px;    
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background: none;
    box-shadow: none;
}
/*-----------------Contacts--------------------*/

/*-----------------Social media--------------------*/
.mobile-menu-media-item {

}
.mobile-menu-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    fill: var(--footer-item-color);
    transition: background-color var(--transition-duration) var(--trsition-function);
}
.mobile-menu-media-link:hover {
    background-color: var(--hover-color);
}
/*-----------------Social media--------------------*/
/*-----------------Mobile Menu--------------------*/

/*--------------------------------Min-Width MOBILE-------------------------------------*/
@media screen and (min-width: 320px) {
    .container {
        max-width: 428px;
    }
    .mobile-menu-contact-tel {
        font-weight: 600;
        font-size: 29px;
        line-height: 40px;
        color: #4D5AE5;
        background: none;
        box-shadow: none;
    }
    .mobile-menu-media {
        display: flex;
        gap: 40px;
        padding-top: 40px;
    }
    .feature-list {
        justify-content: center;
    }
}
@media screen and (min-width: 380px) {
    .mobile-menu-contact-tel {
        font-size: 36px;
    }
    .mobile-menu-media {
        gap: 56px;
    }
}
/* @media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
} */
/*--------------------------------Min-Width MOBILE-------------------------------------*/

/*--------------------------------Max-Width DESCTOP-------------------------------------*/
@media screen and (max-width: 1440px) {
    /*-----------------Header--------------------*/
    .page-header-container {
        justify-content: space-between;
    }
    .header-navigation {
        display: flex;
        gap: 76px;
    }
    .header-address {
        padding: 0;
    }
    .header-list-address {
        display: flex;  
        gap: 40px;
    }
    /*-----------------Header--------------------*/
    
    /*-----------------Hero--------------------*/
    .hero {
        margin: 0 auto;
        max-width: 1200px;
        padding: 188px 0;
    }
    .hero-title {
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        width: 496px;
        margin: 0 auto 48px;
    }
    /*-----------------Hero--------------------*/
    
    /*-----------------About--------------------*/
    .about-list {
        display: flex;
        gap: var(--card-set-gap);
    }
    .about-item {
        
    }
    .about-item::before {
        content: '';
        display: block;
        width: 264px;
        height: 112px;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--footer-item-color);
        border-radius: var(--btn-radius);
    }
    .about-item:nth-child(1)::before {
        background-image: url('../images/antenna.svg');
    }
    .about-item:nth-child(2)::before {
        background-image: url('../images/vector.svg');
    }
    .about-item:nth-child(3)::before {
        background-image: url('../images/diagram.svg');
    }
    .about-item:nth-child(4)::before {
        background-image: url('../images/astronaut.svg');
    }
    .about-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .about-item-list {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    /*-----------------About--------------------*/
    
    /*-----------------Srevices--------------------*/
    
    .services {
        display: block;
        padding-bottom: var(--section-pading);
    }
    .services-title {
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--secondary-title-color);
        margin-bottom: var(--margine-services-feature-title-portfolio-btn-list);
    }
    .services-item {
        display: flex;
        gap: var(--card-set-gap);
        
    }
    .services-portfolio-item-img {
        flex-basis: calc((100% - 88px) / 3);
                /* calc((100% - 48px) / 3); */
    }   
    /*-----------------Srevices--------------------*/

    /*-----------------Feature--------------------*/
    .feature {

    }
    .feature-list {
        display: flex;
        gap: var(--card-set-gap);
    }
   .feature-card-content-item {
        width: 264px;
   }
    /*-----------------Feature--------------------*/

    /*-----------------Section Customers-------------------*/
    .customers {
    padding: 120px 0;
    } 
    /*-----------------Section Customers-------------------*/

    /*-----------------Footer--------------------*/
    .footer {
        padding: 96px 0;
    }
    .page-footer-container {
        display: flex;
        justify-content: space-between;
    }
    .footer-media-sbscribe {
        display: flex;
        gap: 80px;
    }
    .footer-subscribe-inline {
        display: flex;
        gap: 24px;
    }
    .footer-subscribe-form-input {
        width: 264px;
    }
    .footer-subscribe-btn {
        
    }
}
/*-----------------Footer--------------------*/
    /*--------------------------------Max-Width DESCTOP-------------------------------------*/
