/*--------------------------------Min-Width TABLET-------------------------------------*/
@media screen and (min-width: 768px) { 
    .container { 
        max-width: 767px;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-open-burger {
        display: none;
    }
    .about-item::before {
        display: none;
    }
    .header-list-address {
        display: block;
    }
}
/*--------------------------------Min-Width TABLET-------------------------------------*/
   
/*--------------------------------Max-Width TABLET-------------------------------------*/
@media screen and (max-width: 1199px) {
    .section {
        padding: 96px 0;
    }

/*-----------------Header--------------------*/
    .header-navigation {
        display: flex;
        gap: 120px;
    }
    .header-address {
        padding-left: 120px;
    }
    .header-mail {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: var(--accent-color);
        transition: color var(--transition-duration) var(--trsition-function);
    }
    .header-tel {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: var(--accent-color);
        transition: color var(--transition-duration) var(--trsition-function);
    }
/*-----------------Header--------------------*/

/*-----------------Hero--------------------*/
.hero {
    margin: 0 auto;
    max-width: 768px;
    padding: 112px 0;
}
.hero-title {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    width: 496px;
    margin: 0 auto 40px;
}
/*-----------------Hero--------------------*/

/*-----------------About--------------------*/
.about-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.about-item {
    width: 356px;
}
.about-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--margine-about-feature-footer-portfolio-title);
}
.about-item-list {
    font-weight: 500;
    line-height: 24px;
}
/*-----------------About--------------------*/

/*-----------------Srevices--------------------*/
.services {
    display: none;
}
.services-feature-title {
    display: none;
}
.services-item {
    display: none;
}
.services-portfolio-item-img {
    display: none;
}

/*-----------------Srevices--------------------*/

/*-----------------Feature--------------------*/
.feature {
    max-width: 1440px;
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    column-gap: 24px;
}
/*-----------------Feature--------------------*/

/*-----------------Section Customers-------------------*/
.customers {
    padding: 96px 0;
}
/*-----------------Section Customers-------------------*/

/*-----------------Footer--------------------*/
.footer {
    padding: 100px 0;
}
.page-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-block {
    margin-bottom: 72px;
}
.logo-footer-center {
    display: flex;
    justify-content: center;
}
.footer-icon {
    margin-bottom: 72px;
}
.footer-list {
    display: flex;
    justify-content: center;
}
.footer-media-sbscribe {
    display: block;
    text-align: center;
}
.footer-subscribe-form {
    width: 100%;
    align-items: center;
}
.footer-subscribe-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-subscribe-form-input {
    max-width: 398px;
}
.footer-subscribe-btn {
    width: 165px;
}
/*-----------------Footer--------------------*/
/*----------------------------------Max-Width TABLET-----------------------------------*/
}